go 1.22

use ./Data-formats/CompareRecipes
use ./Data-formats/CompareTXT
use ./Data-formats/ConvertRecipe
use ./Concurrency/SleepSort
use ./Concurrency/Crawler
use ./Concurrency/MultiplexChs
use ./Unsafe/ElemGetter
use ./Reflect/DescribePlant
use ./Godoc/MinCoins
use ./Websites/Blog
use ./Algorithms/BinaryTree/IsBalanced
use ./Algorithms/BinaryTree/ZigZagTraversal
use ./Algorithms/Heap/SortPresents
use ./Algorithms/DynamicProgramming/KnapsackProblem
use ./CLI-apps/Find
use ./CLI-apps/Rotate
use ./CLI-apps/Wc
use ./CLI-apps/Xargs
use ./CLI-apps/AnscombeQuartet
