go 1.22

use ./JSON-XML/CompareRecipes
use ./JSON-XML/CompareTXT
use ./JSON-XML/ConvertRecipe
use ./Concurrency/SleepSort
use ./Concurrency/Crawler
use ./Concurrency/MultiplexChs
use ./Unsafe/ElemGetter
use ./Reflect/DescribePlant
use ./Godoc/MinCoins
use ./Websites/Blog
