go 1.22

use ./JSON-XML/CompareRecipes
use ./JSON-XML/CompareTXT
use ./JSON-XML/ConvertRecipe
use ./Concurrency/SleepSort
use ./Concurrency/Crawler
use ./Concurrency/MultiplexChs
use ./Unsafe/ElemGetter
use ./Reflect/DescribePlant
use ./Godoc/MinCoins
use ./Websites/Blog
use ./Algorithms/BinaryTree/IsBalanced
use ./Algorithms/BinaryTree/ZigZagTraversal
use ./Algorithms/Heap/SortPresents
use ./Algorithms/DynamicProgramming/KnapsackProblem
